<!-- datatable.component.html -->
<div class="container">
    <div>
      <h2>Ajouter un nouvel élément</h2>
      <form class="d-flex align-items-center gap-2">
        <label for="newName" class="form-label">Nom:</label>
        <input id="newName" [(ngModel)]="newName" name="newName" class="form-control" />
        <label for="newEmail " class="form-label">Email:</label>
        <input id="newEmail" [(ngModel)]="newEmail" name="newEmail" class="form-control" />
        <button type="button" class="btn btn-primary" (click)="addNewItem()">Ajouter</button>
      </form>
    </div>
    <hr>
  
    <table class="table table-hover">
      <thead>
        <tr class="text-center">
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let item of data; let i = index">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>
            <button type="button" class="btn btn-danger" (click)="removeItem(i)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  